.card {
    font-size: 15px;
    width: 35rem;
    background-color: #242424;
}
.card-action:hover {
    cursor: pointer;
}
.card-action {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 35rem) {
    .card {
        width: 25rem !important;
        margin: auto;
    } 
}