

.main__tasks {
    font-size: 25px;
    min-height: 80vh;
    margin: auto;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}

#addTask:focus {
    border-color: purple;
}
#addTask {
    width: 20rem;
}
.main__todo, .main__finished {
    min-width: 35rem;
}
 