

.main__tasks {
    font-size: 25px;
    min-height: 80vh;
    margin: auto;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}

#addTask:focus {
    border-color: purple;
}
 